/*  */
/* MEDIA QUERIES */
/* ===========================================
Table of Content:
    - 1250px
    - 1050px
    - 700px
    - 500px
*/


/* 1250px
---------------------------------------------- */
@media screen and (max-width: 1250px) {
    .hero-form {
        max-width: 45rem;
        max-height: 68rem;
        padding: 1.6em;
    }

    select,
    input {
        margin-bottom: 0.5em;
        padding-top: 0.8em;
        padding-bottom: 0.8em;
        padding-left: 1.1em;
    }

    input[type="textarea"] {
        padding-bottom: 4em;
    }

    .about,
    .galleries {
        padding-left: 9.4%;
        padding-right: 9.4%;
    }

    .galleries-images {
        padding-left: 0;
    }

    .testimonial-author {
        padding: 2em 0 0.8em 0;
    }
}


/* 1050px
---------------------------------------------- */
@media screen and (max-width: 1050px) {
    header,
    .hero,
    .about,
    .galleries,
    .news,
    footer {
        padding-left: 4%;
        padding-right: 4%;
    }

    .testimonial {
        margin: 0 4%;
    }

    .hero-info {
        padding-bottom: 78%;
    }

    .hero-bg {
        top: 30rem;
    }
    
    .about-text-first {
        padding: 2.5em 0 1.5em 0;
    }
    
    .about-text-second {
        padding-bottom: 2em;
    }

    .services-information {
        max-width: 40%;
        padding: 13% 0 0 4%;
    }

    .services-text {
        padding: 2em 0 1.5em 0;
    }

    .news {
        margin-top: 4%;
    }

    .news-item-information {
        top: 64%;
        left: 15%;
        max-width: 15rem;
    }

    footer {
        padding-bottom: 4%;
    }

    .footer-left {
        padding-right: 5em;
    }

    .footer-text {
        padding-top: 2em;
    }

    .footer-quick-link {
        padding-right: 4em;
    }
}


/* 700px
---------------------------------------------- */
@media screen and (max-width: 700px) {
    .logo p {
        padding-left: 0.3em;
    }

    .hero {
        flex-direction: column;
        align-items: center;
    }

    .hero-info {
        min-width: 25rem;
        padding-bottom: 10%;
    }

    .hero-bg {
        top: 25rem;
    }

    .about {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 8.3%;
        padding-top: 5%;
    }

    .about-img {
        max-width: 32rem;
        margin-bottom: 7%;
    }

    .about-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .services {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .services-img {
        position: relative;
    }

    .services-information {
        max-width: 43.3rem;
        padding: 4% 4% 0 4%;
    }

    .galleries-wrapper {
        flex-wrap: wrap;
    }

    .galleries-images img {
        min-width: 25rem;
        max-width: 45rem;
    }

    .testimonial-information {
        padding: 4% 4%;
    }

    .testimonial-author {
        padding: 1em 0 0.8em 0;
    }

    .news-items {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .news-item {
        max-width: 28rem;
        margin-bottom: 6%;
    }

    .news-item-text {
        font-size: clamp(1.5rem, 1.3684rem + 0.4386vw, 2rem);
    }

    footer.flex-row-spacebtw {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-left {
        padding: 0 0 4em 0;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .footer-right {
        width: 100%;
        max-width: 100%;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }

}

/* 500px
---------------------------------------------- */
@media screen and (max-width: 500px) {
    header {
        padding-top: 0;
    }

    .hero-info {
        padding-top: 55%;
    }

    .hero-bg {
        top: 0;
    }

    .logo img {
        width: 3.8rem;
    }

    .header-btn {
        padding: 0.3em 0.4em;
    }

    .hero-info-text {
        max-width: 35rem;
    }

    .services-img {
        display: none;
    }

    .testimonial-information {
        padding: 4% 1%;
    }

    .testimonial-author {
        padding: 0em 0 0.8em 0;
    }

    .testimonial-avatar {
        display: none;
    }

    
}


