/*  */
/* MEDIA QUERIES */
/* 1450px
---------------------------------------------- */
@media screen and (max-width: 1450px) {
    
}


/* 1250px
---------------------------------------------- */
    @media screen and (max-width: 1250px) {
        .hero-form {
            max-width: 45rem;
            max-height: 68rem;
            padding: 1.6em;
        }

        select,
        input {
            margin-bottom: 0.5em;
            padding-top: 0.8em;
            padding-bottom: 0.8em;
            padding-left: 1.1em;
        }

        input[type="textarea"] {
            padding-bottom: 4em;
        }
}


/* 700px
---------------------------------------------- */
@media screen and (max-width: 700px) {
    .logo p {
        padding-left: 0.5em;
    }

    .hero {
        flex-direction: column;
        align-items: center;
    }

    .hero-info {
        padding-bottom: 10%;
    }

    .hero-bg {
        top: 25rem;
    }

    .galleries {
        margin: 8% 3%;
    }

    .galleries-images {
        margin-left: 0;
    }

    .galleries-wrapper {
        flex-wrap: wrap;
    }

    .galleries-images img {
        min-width: 25rem;
    }
}

/* 500px
---------------------------------------------- */
@media screen and (max-width: 500px) {
    header,
    .hero {
        padding: 0 3%;
    }

    .hero-info {
        padding-top: 60%;
    }

    .hero-bg {
        top: 0;
    }

    /* .about {
        padding: 7% 10.4% 8.3% 13.9%;
    }


    .testimonial {
        margin: 0 9%;
    } 

    .news {
        padding: 4.9% 9% 13.9% 9%;
    }

    footer {
        padding: 0 9% 5.6% 9%;
    } */

    .logo img {
        width: 4.2rem;
        height: auto;
    }

    .header-btn {
        padding: 0.5em 0.7em;
    }

    .hero-info-text {
        max-width: 35rem;
    }
}